.container {
    padding-bottom:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.content {
    text-decoration: none;
    color:black;
}

.content:hover {
    text-decoration: underline;
    color:blue;
}