.content {
    font-family: 'Raleway', serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap:1rem;
}
.imageContainer {
    max-width: 20rem;
    max-height: 20rem;
    box-sizing: border-box;
}
.image {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.text {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.homeLink {
    text-decoration: none;
    border: 3px solid #28282a;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1.5rem;
    padding-left:1rem;
    padding-right:1rem;
    cursor: pointer;
    text-decoration: none;
    color: #28282a;
}

.homeLink:hover {
    background-color: #28282a;
    border: 3px solid #28282a;
    color:white;
}


@media screen and (min-width: 800px) {
    .title {
        font-size: 4rem;
    }
    .text {
        font-size: 2rem;

    }
    .homeLink {
        font-size: 2rem;
    }
}

@media screen and (min-width: 400px) {
    .imageContainer {
        max-width: 25rem;
        max-height: 25rem;
        box-sizing: border-box;
    }
}